---
layout: home
profile_picture:
  src: /assets/img/zhenli.jpeg
  alt: website picture
items:
- title: CorrMatch: Label Propagation via Correlation Matching for Semi-Supervised Semantic Segmentation
  image:
    src: /assets/img/work/corrmatch_pipeline.png
    alt: arxiv
  author: <b>Boyuan Sun</b>, Yuqi Yang, Weifeng Yuan, Le Zhang, Ming-Ming Cheng, Qibin Hou
  pubname: Arxiv preprint 2023
  code: https://github.com/BBBBchan/CorrMatch
  paper: https://arxiv.org/abs/2306.04300
  bibtex:
- title: CamoFormer: Masked Separable Attention for Camouflaged Object Detection
  image:
    src: /assets/img/work/CamoFormer_pipeline.png
    alt: cvpr23-dnf
  author: Xin Jin*, Linghao Han*, <b>Zhen Li</b>, Zhi Chai, Chunle Guo, Chongyi Li
  pubname: Arxiv preprint 2022
  code: https://github.com/HVision-NKU/CamoFormer
  paper: https://arxiv.org/pdf/2212.06570.pdf
  bibtex:
---


<p>
    Boyuan Sun (孙博远) is currently a 1st year Ph.D. candidate at Nankai University,
  supervised by Prof. <a href="https://houqb.github.io/">Qibin Hou</a> and Prof. <a href="https://mmcheng.net/cmm">Ming-Ming Cheng</a>.
  His research interests include computer vision and deep learning, particularly focusing on semantic segmentation and semi-supervised learning, <i>etc</i>.
</p>

<p>
  <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Tianjin, China
  <br/>
  <i class="fas fa-fw fa-envelope"></i> zhenli1031<i class="fas fa-fw fa-at"></i>gmail.com
  <br/>
  <a href="https://github.com/Paper99"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a>
  &nbsp;&nbsp;&nbsp;
  <a href="https://scholar.google.com/citations?user=utI5YFEAAAAJ&hl=en"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a>
</p>

<div id="publication">
  <h1 class="page-heading">Selected Publications</h1>
    ( * equal contribution)
    <br/>
    <table>
    {% for item in page.items %}
      <tr>
        <td width="35%">
          <img
          style="width: 200px"
          src="{{ item.image.src | absolute_url }}"
          alt="{{ item.image.alt }}"
          />
        </td>
        <td width="65%">
          <paper-title> {{ item.title }} </paper-title>
          <br/>
          <paper-info>
            {{ item.author }}
            <br/>
            <em>{{ item.pubname }}</em>
            <br/>
            {% if item.paper and item.paper != "" and item.paper != nil %}
              [<a href="{{ item.paper }}">Paper</a>]
            {% else %}
              [Paper (Coming soon)]
            {% endif %}
            {% if item.code and item.code != "" and item.code != nil %}
              [<a href="{{ item.code }}">Code</a>]
            {% else %}
              [Code]
            {% endif %}
            <!-- {% if item.bibtex and item.bibtex != "" and item.bibtex != nil %}
              [<a href="{{ item.bibtex }}">Bibtex</a>]
            {% else %}
              [Bibtex (TBD)]
            {% endif %} -->
            <!-- [<a href="{{ item.paper }}">Paper</a>]
            [<a href="{{ item.code }}">Code</a>]
            [<a href="{{ item.code }}">Bibtex</a>] -->
          </paper-info>
        </td>
      </tr>
    {% endfor %}
  </table>
    <!-- <div class="work-item">
      <img
        src="{{ item.image.src | absolute_url }}"
        alt="{{ item.image.alt }}"
        class="work-bubble"
      />
      <span class="work-text">
        <strong>{{ item.title }}</strong>
        <br/>
        <font-size>{{ item.author }}</h5>
         {{ item.author }} -->
      <!-- </span>
    </div> --> 
</div>