.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
  float: left;
  padding-right: 20px;
  width: 216px;
  height: 120px;
}

.paper-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}